<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.seg.sostool.dao.primary.PrimaryMapper">

    <select id="findAll"  resultType="map">
		select pay_id,plate_no from t_byd_zzb_wxpay
    </select>


</mapper>